@model IEnumerable<Practicas_ASP.NET.Models.AuthRegistro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditFechaGeneracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditFechaGeneracion)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.JwtId">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.JwtId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.JwtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
